.contact{
    
    
}
.main-contact{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contact-title{
  margin-top: 6rem;
  text-align: center;
  height: fit-content;
  background-color: antiquewhite;
}

.contact-image{
    max-width: 300px;
    position: absolute;
    margin-top: 11%;
    border-radius: 12px;
    left: 10%;
    
  }
  
