@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0 ;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}


.navbar{
    height: 70px;
    width: 100%;
    background-color: #eef4ed;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: calc(0.95);
    top: 0px;
}
.navigation{
padding-right: 10em;
}
.navigation a{
  color: #173431;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.logo{
  text-decoration: none;
  font-family: Caveat;
  color: #254441;
  font-size: 32px;
  padding-left: 6em;
  font-weight: bold;
}

.main{
  width: 100%;
  height: 89vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top: 70px;
  margin-top: 70px;
}

video {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.web-name{
  font-size: 32px;
  color: #173431;
  background-color: #eef4ed;
  border-radius: 5px;
  padding: 0px 7px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eef4ed;
  font-family: Caveat;
  font-weight: bolder;
  font-size: 20px;  
  
}

.content h2 {
  margin-bottom: 30px;
}

.phrase{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 250;
  margin-top: 50px;
  
}

.overlay{
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 622px;
  background-color: rgba(0, 0, 0, 0.5);
}

.book-btn{
  padding: 12px 40px;
  position: absolute;
  bottom: 20px;
  left: 190px;
  background-color: #254441;
  color:#eef4ed ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  
}

.services{
  height: 100vh;
  width: 100%;
  
  background-color: #eef4ed;

}

.services-title{
  padding-top: 50px;
  color: #0b2545;
  font-size: 20px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.services-items{
  display: flex;

}

.services-image{
  width: 30em;
  position: absolute;
  left: 900px;
  margin-top:90px;
  border-radius: 12px;
  border: 2px solid black;
  

  
}

.services-description{
  padding: 20px;
  font-size: 30px;
  position: absolute;
  left: 40px;
  margin-top: 100px;
  border-radius: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 11em;
}

.services-list{
  list-style: none;
  line-height: 60px;
}


.trip{
  height: 100vh;
  background-color: #254441;

}
.trip-title{
  padding-top: 50px;
  color: #eef4ed;
  font-size: 20px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.trip-image{
  width: 30em;
  position: absolute;
  left: 40px;
  margin-top:70px;
  border-radius: 12px;
  border: 2px solid black;
}

.trip-description{
  padding: 20px;
  font-size: 20px;
  position: absolute;
  left: 600px;
  margin-top: 100px;
  border-radius: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 11em;
  color: #eef4ed;
}

.trip-list{
  list-style:armenian;
  line-height: 90px;
}

.trip-btn{
  padding: 12px 40px;
  position: absolute;
  margin-top: 30px;
  background-color: #eef4ed;
  color:#254441 ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  left: 190px;
  text-decoration: none;
  
}
.contact{
  height: 90vh;
  display: flex;

}
.contact-left{
  width: 30%;
  background-color: #eef4ed;
}

.contact-right{
  width: 70%;
  background-color: #a3b18a;
  z-index: -100;
}


.contact-title{
  position: absolute;
  left: 610px;
  padding-top: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.contact-image{
  width: 30em;
  position: absolute;
  margin-top: 9em;
  border-radius: 12px;
  left: 7em;
}



.contact-description{
  margin-top: 13em;
  position: absolute;
  left: 45em;
  line-height: 4em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.contact-list{
  font-size: 28px;
  color: #173431;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.footer{
  height: 10vh;
  overflow: hidden;
  background-color: #254441;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.footer-logo{
  text-decoration: none;
  font-family: Caveat;
  color: #eef4ed;
  font-size: 32px;
  padding-left: 6em;
  align-items: center;
  font-weight: bold;
}

.info{
  color: #eef4ed;
  padding-right: 70px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media (max-width:420px){
    
    .main{
      
        width: 100%;
        height: 89vh;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        top: 70px;
        margin-top: 70px;
    }
    .content{
        font-size:40px ;      
        text-align: center;
    }
    .phrase{
      font-size: 35px;
    }
    .overlay{
      height: 100%;
      top: 0;
    }
    .services{
      height: 115vh;
      text-align: center;
      flex-direction: column;
      align-items: center;      
      
    }
    .services-items{
      align-items: center;
      flex-direction: column;
      display: flex;
    }

    .services-image{
      text-align: center;
    }
    .services-description{
      text-align: center;
      font-size: 18px;
      padding: 0 15px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      bottom: -38em;
      margin: 0px 20px;
      left: 0px;
      
    }
    .services-list{
       line-height: 40px; 
    }
    .services-image{
      left: 0;
      width: 80%;
      margin: 0px 38px;
      bottom: -24em;
      
    }
    .book-btn{
      text-align: center;
      align-items: center;
      right: 0px;
      left: 0px;
      margin: 0px 15px;
      
      bottom: -7em;

    }


}